<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>login</display-name>
<servlet>
	<servlet-name>abc</servlet-name>
	<servlet-class>com.sumit.Login</servlet-class>	
</servlet>
<servlet-mapping>
	<servlet-name>abc</servlet-name>
	<url-pattern>/log</url-pattern>
</servlet-mapping>

<!-- <servlet>
	<servlet-name>xyz</servlet-name>
	<servlet-class>com.sumit.SignUp</servlet-class>
	
</servlet>
<servlet-mapping>
	<servlet-name>xyz</servlet-name>
	<url-pattern>/sign</url-pattern>
</servlet-mapping>
 -->
<servlet>
	<servlet-name>pqr</servlet-name>
	<servlet-class>com.sumit.Admin</servlet-class>
	
</servlet>
<servlet-mapping>
	<servlet-name>pqr</servlet-name>
	<url-pattern>/adm</url-pattern>
</servlet-mapping>

</web-app>